*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/Fondo.png);
    background-repeat: no-repeat;
    background-size: auto;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
    grid-column: 1/4;
    background-color: rgb(37, 0, 97);
    height: 80px;
    justify-content: center;
    border: 0;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 75px;
    margin-top: 0px;
}
.logo:active{
    transform: rotatey(3000deg);
    transition: 5000ms;
}
li a{
    text-decoration: none;
    color:white;
    display: inline;
    position: absolute;
} 
.menu ul li{
    padding: 4vh;
    width: 250px;
    list-style: none;
    margin-bottom: 10px;
} 
.menu ul li:hover{
    transition: 0.2s;
    transform: scale(1.2);
}
.menu{
    font-size: 30px;
    color: white;
    position: fixed;
    margin-top: 18px;
    margin-left: 20px;
}
.menu ul{
    top: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    display: none;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0px;
}
#menu{
    position: absolute;
    display: none;
}
#menu:checked  ~ ul{
    background-color: rgb(37, 0, 97) ;
    display: block;
    position: absolute;
}
#buscar{
    position: fixed;
    top: 25px;
    right: 20px;
}
#buscar input{
    width: 20vw;
    max-width: 200px;
    height: 30px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgba(124, 124, 124, 0.507);
    font-size: large;
    text-decoration: none;
    
}
#comentarios{
    top: 25vh !important;
}
#cajacomentarios{
    border-radius: 5px;
    height: 100px !important;
    max-width: 600px;
}
#envianostuarchivo{
    border-radius: 5px;
    max-width: 200px;
    
}
#envianostuarchivo:hover{
    background-color: grey;
}
#enviar{
    border-radius: 5px;
    max-width: 100px;
}
#enviar:hover{
    background-color: grey;
}
footer{
    position: absolute;
    width: 100%;
    bottom: -60px;
    height: 60px;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: auto auto auto auto;
}
.footer1{
    display: flex;
    text-align: center;
    align-items: flex-end;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.237);
    border-radius: 10px;
    align-items: center;
}
.footer1 a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-align: center;
}
.footer1:hover{
    scale: 1.2;
}
.mas{
    width: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: auto auto auto;
    text-align: center;
    bottom: 5px;
    z-index: 100;
}
.mas:hover{
    scale: 1.2;
}
