* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo2.0.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  display: inline-block;
  grid-column: 1/4;
  background-color: rgba(0, 0, 0, 0.75);
  height: 80px;
  justify-content: center;
  border: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.188);
  z-index: 100;
}

.logo {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  top: 20px;
  z-index: 0;
  text-fill-color: transparent;
}
.logo h2 {
  position: fixed;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #DB01FF 0%, #1DFFD6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo h2:active {
  transform: rotatey(3600deg);
  transition: 5000ms;
}

.menu {
  font-size: 35px;
  background: linear-gradient(90deg, #DB01FF 0%, #1DFFD6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: fixed;
  margin-top: 15px;
  right: 30px;
  z-index: 100;
  text-decoration: none;
}
.menu ul li {
  width: 100%;
  list-style: none;
}
.menu ul li a {
  right: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
.menu ul {
  width: 250px;
  top: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: -250px;
  -webkit-text-fill-color: white;
}

#menu {
  position: absolute;
  display: none;
}

#menu:checked ~ ul {
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .instagram_desktop {
    display: none !important;
  }
  nav a img {
    width: 60px;
  }
  .container {
    display: grid;
    grid-template-columns: 100px auto auto;
  }
}
@media screen and (min-width: 500px) {
  .instagram_mobile {
    display: none !important;
  }
}
.nav {
  display: none;
  grid-column: 1/2;
  border-right: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.188);
  border-bottom-right-radius: 10px;
}
.nav a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.nav .instagram_desktop img {
  width: 150px;
}
.nav a img {
  width: 80px;
}

nav a img {
  width: 50px;
}

.menuredes {
  background: linear-gradient(90deg, #DB01FF 0%, #1DFFD6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 50px;
  text-align: center;
  border-top: -200px;
}

#menuredes {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #DB01FF 0%, #1DFFD6 100%);
}

#menuredes:checked ~ .nav {
  display: block;
}

.main1 {
  display: grid;
  justify-content: center;
  grid-column: 2/4;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: scroll;
  grid-template-columns: 10% auto auto 10%;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 0;
}
.main1 article {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.188);
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}
.main1 article a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}
.main1 article a img {
  margin: 10px;
}
.main1 article h2 {
  color: white;
}
.main1 article h3 {
  color: white;
}
.main1 article p {
  color: white;
}

.art1 {
  grid-column: 2/4;
}

.art2 {
  grid-column: 2/4;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art3 {
  grid-row: 3;
  grid-column: 2/3;
}

.art4 {
  grid-column: 3/4;
}

.art5 {
  grid-column: 2/3;
}

.art6 {
  grid-column: 3/4;
}

.img img {
  width: 70px;
  max-width: 400px;
}

@media screen and (max-width: 500px) {
  .art_sec {
    grid-column: 2/4 !important;
  }
}
footer {
  height: 200px;
  display: grid;
  grid-column: 1/4;
  grid-template-columns: auto auto auto auto;
  background-color: black;
  margin-top: 10px;
}

.footer1 {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.footer1 a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
